-let name = "Harland"

doctype html
html(lang='en')
    head
        title Website
    body
        h1 a website by #{name}
        div.container
            p Hi
            a(href="/help")
                button(type="button") Help
            a(href="/contact")
                button(type="button") Contact